@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@media  (min-width: 992px){
    .start{
        margin-top: 600px;/*600 old menu*/
    }
}
.navbar-toggler{
    z-index: 99999;
}
body{
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p{
    font-family: Roboto;
    font-size: 0.875rem;
}
.carousel-indicators-img{
    border: solid 1px #fff;
    border-radius: 0.25rem;
}
.carousel-indicators-img:hover{
    border: solid 1px #898989;
}
.carousel-indicators-img.active{
    border: solid 2px #ff7401;
}
.product-title{
    font-family: Roboto;
    font-weight: bold;
    font-size: 2.25rem;
}
.short-description{
    font-family: Roboto;
    font-size: 0.875rem;
}
.center{
    text-align: center;
}
.pos-f-t{
    position: fixed;
    top: 100px;
    left: 28%;
    width: 54%;
    z-index: 1031;
}
.navbar-collapse{
    padding-top: 40px;
    /*border-bottom: solid 1px white;*/
    font-weight: bold;
}
.color-orange{
    color: #ff7401;
    font-size: 18px;
}
.color-grey{
    /*color: #898989;*/
}
.a-h2{
    color: #292b2c;
    cursor: pointer;
}
.a-h2:hover{
    color: #292b2c;
    text-decoration-color: #292b2c;
}
.border-bottom-grey{
    border-bottom: solid 1px #898989;
}
.title{
    font-family: Roboto;
    font-weight: bold;
    font-size: 2.25rem;
}
.title-small{
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.5rem;
}
@media (min-width: 720px) {
    .navbar-brand{
        /*margin-left: 8rem;*/
        /*margin-right: 8rem;*/
    }
    .nav-tabs .nav-item:first-child{
        margin-left: 20%;

    }
}
@media (min-width: 1024px) {
    .navbar-collapse li{
        padding-right: 1.9rem;/*3 old menu*/
    }
}
@media (min-width: 1200px) {

    .navbar-collapse li:last-child{
        padding-right: 0;/*3 old menu*/
    }
    .navbar-collapse li{
        padding-right: 2.6rem;/*3 old menu*/
    }
}
@media (min-width: 1200px){
    .container {
        width: 1000px;
    }
}
.menu-title{
    text-align: center;
    color: #fff;
    font-size: 2rem;
}
@media (min-width: 1024px) {
    .menu-title{
        position: fixed;
        top: 10px;
        color: #fff;
        right: 14%;
        font-size: 2rem;
    }
}

.sub-menu{
    padding-left: 5px;
    padding-right: 5px;
}
.sub-menu .carousel-caption{
    bottom: -35px;
    font-weight: bold;
}
.sub-menu img{
    border: solid 1px #fff;
}
.img_menu{
    display: none;
    position: fixed;
    top: 91px;
    left: 28%;
    width: 54%;
    height: 150px;
    z-index: 999999999;
}
.technologie{
    left: 49%;
}
.kolekcja{
    left: 25%;
}
/*navbar color*/
.bg-inverse {
    background-color: #000000 !important;
    min-height: 100px;
}
.bg-orange{
    background-color: #ff7401;
}
.bg-orange p{
    color: #fff;
    font-size: 1.1rem
}
.bg-orange h1{
    padding-top: 5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
    font-size: 2.2rem;
    color: #000;
}
.bg-white{
    background-color: #fff;
}


.img-carousel-indicators {
    margin-top: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.img-carousel-indicators li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 60px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}
.img-hight-30{
    height: 30px;
}
.img-carousel {
    width: 100%;
    height: 50%;
}
.orange-box-padding{
    padding-top: 4rem !important;
    padding-bottom: 12rem !important;
}
.img-resposive{
    width: auto;
    max-height: 120px;
}
.btn-white{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 0;
    margin-top: 1.5rem;
}
.btn-white:focus{
    border: solid 1px #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-white:hover{
    cursor: pointer;
}
.btn-orange{
    background-color: #ff7401;
    color: #000;
    border-radius: 0;
    border: 0;
}
.btn-orange:hover{
    background-color: #e66800;
}

.bg-orange .btn-white:hover{
    background-color: #ffecd2;
}
.navbar-nav .nav-item{
    border-bottom: solid 1px white;
}
.nav-tabs{
    background-color: #000;
    border-bottom-color: #000 ;
}
.dropdown-menu{
    border-radius: 0;
}
.dropdown-item:active{
    background-color: #898989;
}
.dropdown-item:hover{
    background-color: #cccccc;
}
.nav-tabs .nav-link{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    color: #fff;
}
.nav-tabs .nav-link:hover{
    border-bottom: solid 1px #fff;
}
.dropdown-menu-black{
    background-color: #000;
}
.dropdown-menu-black .dropdown-item{
    color: rgba(255,255,255,.5);
}
.dropdown-menu-black .dropdown-item:active{
    background-color: #ff7401;
    color: #fff;
}
.dropdown-menu-black .dropdown-item:focus{
    background-color: #000;
}
.dropdown-menu-black .dropdown-item:hover{
    background-color: #000;
    color: rgba(255,255,255,.75);
}
.nav-tabs .nav-link.active{
    background-color: #fff;
    border-left: 0;
    border-right: 0;
    color: #000;
    border-bottom-color: #fff;
}
.portal{
    border: solid 4px #ff7401;
}


footer{
    background-color: #000000;
    margin-top: 8rem;
}
footer p{
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #fff;
}



.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}
.video-foreground,.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#vidtop-content {
    top: 0;
    color: #fff;
}
.video-info {
    position: absolute;
    top: 70%;
    right: 18%;
    width: 70%;
    color: #fff; padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif;
}
.video-info h1{
    font-size: 4.5rem;
    font-weight: bold;
    margin-top: 0;
    line-height: 1.2;
    color: #ff7401;
    text-align: right;
    margin-bottom: -15px
}
.video-info h2 {
    display: block;
    font-size: 2rem;
    color: #fff;
    border-bottom: none;
    text-align: right;
}
@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%;
    }
}
@media all and (max-width: 600px) {
    .video-info {
        width: 50%; padding: .5rem;
    }
    .video-info h1 {
        margin-bottom: .2rem;
    }
}
@media all and (max-width: 500px) {
    .video-info .acronym {
        display: none;
    }
}


.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}

.carousel-indicators .active {
    /*background-color: #ff7401;*/
    background: none;
}
.carousel-indicators li {
    /*background-color: rgba(255, 116, 1, 0.5);*/
    background: none;
    height: auto;
}
.carousel-indicators {
    position: inherit;
}