.start{
  padding-top: 60px;
}
.center{
    text-align: center;
}
.pos-f-t{
    position: fixed;
    top: 100px;
    left: 28%;
    width: 54%;
    z-index: 1031;
}
.navbar-collapse{
    padding-top: 40px;
    border-bottom: solid 1px white;
    font-weight: bold;
}
.navbar-collapse li{
    padding-right: 3rem;
}
.navbar-brand{
    padding-left: 8rem;
    padding-right: 8rem;
}
.sub-menu{
    padding-left: 5px;
    padding-right: 5px;
}
.test_menu{
  display: none;
  position: fixed;
  top: 91px;
  left: 28%;
  width: 54%;
  height: 150px;
  z-index: 999999999;
}
.grid-5{
  width: 19.7%;
  max-height: 150px;
  background-color: #232323;
  display: inline-block;
}
/*kolor nav bara*/
.bg-inverse {
    background-color: #000000 !important;
    min-height: 100px;
}
.img-resposive{
  width: auto;
  max-height: 120px;
}
.footer{
  background-color: #000000;
}
